<h3>New Group Reservation</h3>

<%= form_with model: @group_tour_reservations, local: true do |form| %>
<div class="row">
  <form>
    <div class="form-row px-3">
      <div class="form-group col-md-4">
        <%= form.label :name, 'Group Name' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :vehicle, 'Select Vehicle' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :guide, 'Select Guide' %>
        <%= form.text_field :guide, class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= form.label :date, 'Select Date' %>
        <%= form.date_field :date, value: Date.today, class: 'form-control' %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :vehicle_pay, 'Select Vehicle' %>
        <%= form.number_field :vehicle_pay, class: 'form-control' %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :guide_pay, 'Select Vehicle' %>
        <%= form.number_field :guide_pay, class: 'form-control' %>
      </div>
      <div class="form-group col-md-12">
        <%= form.label :tour_reservations, 'Select Reservation' %>
        <%= form.collection_select(:tour_reservations, TourReservation.all, :id, :tour_object_list, { selected: TourReservation.first }, { class: "form-control" }) %>
      </div>
    </div>
  </form>
</div>
<% end %>