
<div class="row">
  <div class="col">
    <h1 class="text-center">All Tours</h1>
    <hr />
    <%= link_to "New Tour", new_tour_path, class: "btn  btn-primary mb-3 btn-block" %>
    <table class="table">
      <%= paginate @tours %>
      <tr>
        <thead>
          <th>Name <%= link_to "sort", tours_path(sort: "name") %></th>
          <th>AD 1 <%= link_to "sort", tours_path(sort: "ad_price") %></th>
          <th>CH 1 <%= link_to "sort", tours_path(sort: "ch_price") %></th>
          <th>AD 2 <%= link_to "sort", tours_path(sort: "add_ad_price") %></th>
          <th>CH 2 <%= link_to "sort", tours_path(sort: "add_ch_price") %></th>
          <th>ADD CHG <%= link_to "sort", tours_path(sort: "add_chg") %></th>
          <th>Actions</th>
        </thead>
      </tr>
      <%= render @tours %>
    </table>

    <% if @tours.empty? %>
        <p>There are no <strong>Tours</strong> yet</p>
    <% end %>

    <%= paginate @tours %>
  </div>
</div>
<br />

