<h1>All Tours</h1>

<table class="table">
  <tr>
    <thead>
      <th>Name</th>
      <th>AD 1</th>
      <th>CH 1</th>
      <th>AD 2</th>
      <th>CH 2</th>
      <th>ADD CHG</th>
      <th>Actions</th>
    </thead>
  </tr>
  <% @tours.each do |tour| %>
  <tr>
    <tbody>
      <td><%= tour.name %></td>
      <td><%= tour.ad_price %></td>
      <td><%= tour.ch_price %></td>
      <td><%= tour.add_ad_price %></td>
      <td><%= tour.add_ch_price %></td>
      <td><%= tour.add_chg %></td>
      <td>
        <div class="btn-group">
          <%= link_to "Edit", edit_tour_path(tour), class: "btn btn-outline-primary" %>
          <%= link_to "Delete", tour, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
        </div>
      </td>
  <% end %>
    </tbody>
  </tr>
</table>

<div class="row">
  <div class="col col-lg-12">
    <%= link_to "New Tour", new_tour_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
</div>
<br />
