<tr>
  <tbody>
    <td><%= tour_reservation.date.strftime("%B %d %Y") %></td>
    <td><%= tour_reservation.tour.name %></td>
    <td><%= tour_reservation.hotel %></td>
    <td><%= tour_reservation.p_up_time.strftime("%I:%M %p") %></td>
    <td><%= tour_reservation.voucher %></td>
    <td><%= tour_reservation.phone %></td>
    <td><%= tour_reservation.agent %></td>
    <td>
      <div class="btn-group">
      <%= link_to "VIEW", tour_reservation, class: "btn btn-sm btn-outline-info" %>
      <%= link_to "EDIT", edit_tour_reservation_path(tour_reservation), class: "btn btn-sm btn-outline-primary" %>
      <%= link_to "DELETE", tour_reservation, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %></td>
      </div>
  </tbody>
</tr>
