<!DOCTYPE html>
<html>
  <head>
    <title>Angles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <%= render 'shared/nav' %>

      <%= yield %>

    </div>
  <%= javascript_pack_tag 'controllers/group_tour_reservation_controller', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
